<div class="container">
<div class="section">
    <h2 class="title is-4">Users :</h2>
  <table class="table is-striped is-bordered is-hoverable">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>POSTS</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td><a routerLink="/users/{{ user.id }}">{{ user.name }}</a></td>
      <td>{{ user.email }}</td>
      <td><a routerLink="/posts/user/{{ user.id }}">posts</a></td>
    </tr>
  </table>
</div>
</div>
